html, body {
	background-color: #232323;
	color: #FFEE99;
	font-family: 'Quicksand Book', Quicksand, helvetica, verdana;
	font-size:14px;
}

@font-face {
	font-family: 'Quicksand';
	src: local('Quicksand Book'), local('Quicksand'), url('fonts/Quicksand_Book.otf') format('opentype');
	src: local('Quicksand Bold'), local('Quicksand'), url('fonts/Quicksand_Bold.otf') format('opentype');
}

#flashContent {
	display: block;
	margin: 0 auto; 
	background-color: #232323;
	padding:0px;
	width:1060px;
	margin-left: -9%;
}

h1 {
	margin-left: -4%;
	font-family: 'Quicksand Bold', Quicksand, helvetica, verdana;
	color: #FFBA00;
}

h3 {
	font-family: 'Quicksand Bold', Quicksand, helvetica, verdana;
	color: #FFAA00;
}

hr { 
	display: block; height: 1px;
    border: 0; border-top: 2px solid #FFEE99;
    margin: 1em 0; padding: 0; 
}

.measure-box {
	height:100px;
}

.measurement-title {
	margin-left: 40%;
}

.measurement-text {
	margin-left: 40%;
	text-align: center;
	color: #FFEE99;
	width: 50px;
	margin-top: 10px;
	background-color: #232323;
	border: 1px solid #FFEE99;
}

#sub-title {
	margin-top: 40px;
}

#face {
	position: relative;
	background-color: #ffba00;
	border-radius: 20px;
	margin-bottom: 10px;
}

#copy {
	margin-left: -20px;
	margin-top: 12px;
}

#measurement-results {
	padding-left: 30px;
}

#command-div {
	margin-top: 20px;
	margin-bottom: 10px;
}

#command {
	/*display: block;*/
/*margin: 0 auto; */
	padding: 5px;
	color: #232323;
	background-color: #232323;
	border-radius: 50%;
	width: 24px;
	border: 1px solid #FFEE99;
	-webkit-transform: scale(2,2);
	margin-top: -6px;
}

#mic-info {
	font-size: 13px;
	text-align: right;
}

/*#ruler {
	background-image:url('../img/rulerpartial.png');
	background-repeat:repeat-x;
	height: 22px;
	width: 418px;
}